=render 'shared/header'
.wrapper
  .slick
    .index-background-image.image-1{"style":"background-image: url(#{image_path "space.jpg"})"}
    .index-background-image.image-2{"style":"background-image: url(#{image_path "passport.jpg"})"}
    .index-background-image.image-3{"style":"background-image: url(#{image_path "study.jpg"})"}
  .index
    .index__box
      .index__box__title
        F a t o
      .index__box__top
        .index__box__top__image
          =image_tag 'header-logo.png', class:"index-logo"
        .index__box__top__description
          説明文は、ある出来事や情報をよく知っている人間が、それらをよく知らない 人たちに説明をしようとして書いた文章です。
          %br ですから、説明文を読み取るとい うことは、その作者が何について、どのように、説明している文章かを把握する ことが大切です。 論説文も同じです。 筆者が主張したいことは何かを読み取るこ とが中心です。
    .index__box
      .index__box__title
        おすすめの都市
      .index__box__flex
        -@areas.each do |area|
          .index__box__flex__area{"data-area":area.id}
            =link_to area_path(area) do
              .index__box__flex__area__image{"style":"background-image:url(#{area.image.url});"}
            .index__box__flex__area__name
              =link_to area_path(area), class:"index-area-links" do
                =s.name
      .index__box__introduction
        -@areas.each do |area|
          .index__box__introduction__hidden.area-introduction{id:"area-description-#{area.id}"}
            .index__box__introduction__hidden__merits
              -area.merits.each do |m|
                =m.title
                \/
            .index__box__introduction__hidden__text
              =simple_format(s.description)
    .index__box
      .index__box__title
        新着アドバイザー
      .index__box__flex
        -@advisers.each do |adviser|
          .index__box__flex__adviser{"data-adviser":adviser.id}
            =link_to user_path(adviser) do
              .index__box__flex__adviser__image{"style":"background-image:url(#{adviser.icon.url});"}
            .index__box__flex__adviser__name
              =link_to user_path(adviser), class:"index-user-links" do
                =adviser.name
            .index__box__flex__adviser__text
              =link_to area_path(adviser.area), class:"index-user-links" do
                =adviser.area.name
      .index__box__introduction
        -@advisers.each do |a|
          .index__box__introduction__hidden.adviser-introduction{id:"adviser-description-#{a.id}"}
            .index__box__introduction__hidden__text
              =simple_format(a.profile)
= render "shared/footer"