=render 'shared/header'
.flex-wrapper 
  .search-sidebar
    = search_form_for(@q, url: search_api_areas_path, id:"search-form",remote:true) do |f|
      .search-sidebar__name
        = f.select(:sorts, { '並び替え': 'id desc', '新しい順': 'created_at desc', '古い順': 'created_at asc'}, {},{id:'select-order'})
      .search-sidebar__box
        %span.search-sidebar__box__title
          名前
        = f.text_field :name_cont ,{placeholder: "Type a keyword",class:"search-sidebar__box__form"}
      .search-sidebar__box
        %span.search-sidebar__box__title
          エリア
        -# .search-sidebar__box__list
        -#   -Area.locations_i18n.invert.each_with_index do |c, index|
        -#     =f.label :location_in, class:"search-sidebar__box__list__label",for:"q_location_in_#{index}" do
        -#       =f.check_box :location_in, {multiple: true,class:"search-sidebar__box__list__checkbox"}, index, nil
        -#       %span.search-area-name
        -#         =c[0]
      .search-sidebar__box
        %span.search-sidebar__box__title
          特徴
        .search-sidebar__box__list
          -Merit.all.each do |c|
            =f.label :areas_merits_merit_id_in, class:"search-sidebar__box__list__label search-sidebar__box__list__label--block",for:"q_areas_merits_merit_id_in_#{c.id}" do
              =f.check_box :areas_merits_merit_id_in, {multiple: true,class:"search-sidebar__box__list__checkbox"}, c.id, nil
              %span.search-merit-name
                =c.title
      =f.submit '検索',id:"search-btn"
  .search-main
    .search-main__areas
      .search-main__areas__grid
        -@areas.each do |s|
          =render partial:'areas/area', locals:{area:area} 
=render "shared/footer"